.hero {
    background: url("images/IMG-20260302-WA0045.jpg")no-repeat center center/cover;
}

.main {
    width: 100%; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5rem;
    color: #333;
    padding-bottom: 5rem;
}

.main h1 {
    text-align: center;
    padding-bottom: 2rem;
}

.main p {
    line-height: 1.6;
}

.main .cleaning-cards {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cleaning-card {
    width: 30%;
    border: 3px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 5vh;
}

.faqs {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding-bottom: 2vh;

}

.faqs h1 {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.faqs .faq-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh;
    background: #727171;
    margin-top: 2vh;
    border-radius: 10px;
    text-align: center;
}

